<div class='container'>
    </div class='row'>
    <br />
        <h2 class='top__copy'>welcome to <i class="fas fa-book"></i> <strong>Bookers!!</strong></h2>
        <p class='top__copy'>CopyRight Infratop.inc</p>
    </div>
</div>

