<div class='container'>
    </div class='row'>
        <div class='col-md-5 top'>
        <br />
            <h2>welcome to <i class="fas fa-book"></i> <strong>Bookers!!</strong></h2>

            <div class='top__content'>
                In <i class="fas fa-book"></i> <strong>Bookers!!</strong>,<br />
                you can share and exchange your opinions , inpressions , and emotions<br />
                about various books!
            </div>
            <%= link_to 'Log in',new_user_session_path,class:'btn btn-info top__login' %><br />
            <%= link_to 'Sign up',new_user_registration_path,class:'btn btn-success top__signin' %>
        </div>
        <p class='top__copy'>CopyRight Infratop.inc</p>
    </div>
</div>

