// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.newbook__text {
    width: 100%;    
}

.row {
    display: flex;
}


.book__show {
    display: flex;
}

.comment__text {
    width: 100%;
}

.fa-heart {
    text-decoration: none;
}

.fas-heart-link {
    color: red;
}